.orderList {
  display: flex;
  width: 100%;
  .orderListContainer {
    flex: 6;
    h2 {
      font-weight: 500;
      font-size: 1.3rem;
      margin: 1rem 0;
    }
    .dataTable {
      padding: 0.3rem 1rem;
      .actions {
        display: flex;
        gap: 1rem;
        font-size: 0.8rem;

        .edit {
          color: purple;
          background-color: rgba(128, 0, 128, 0.05);
          padding: 0.2rem 0.5rem;
          border-radius: 0.2rem;
          cursor: pointer;
        }

        .deletebtn {
          border: none;
          padding: 0.2rem 0.5rem;
          cursor: pointer;
          border-radius: 0.2rem;
          color: rgb(253, 7, 122);
          background-color: rgba(253, 7, 122, 0.05);
        }
      }
    }
    .Processing {
      color: red;
      padding: 0.2rem 1rem;
      border-radius: 5px;
      background-color: rgba(255, 0, 0, 0.05);
    }
    .Shipped {
      color: purple;
      padding: 0.2rem 1rem;
      border-radius: 5px;
      background-color: rgba(128, 0, 128, 0.05);
    }
    .Delivered {
      color: green;
      padding: 0.2rem 1rem;
      border-radius: 5px;
      background-color: rgba(0, 128, 0, 0.05);
    }
  }
}
