.productListContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  min-height: 100vh;
}
#productListHeading {
  font: 500 2rem Poppins;
  padding: 0.5rem;
  transition: all 0.5s;
  text-align: center;
  margin: 2rem;
}
.productListTable Button,
.productListTable a {
  color: var(--lightBlack);
  transition: all 0.5s;
}
.productListTable a:hover,
.productListTable Button:hover {
  color: var(--deepPink);
}
