.redColor {
  color: red;
}
.productDetails {
  display: flex;
  gap: 20px;
  margin-top: 2rem;
  color: #333333;

  .details-1 {
    flex: 1;
    .carousel {
      object-fit: cover;
      .makeStyles-itemWrapper-18 {
        max-height: 600px !important;
      }
      .makeStyles-indicators-19 {
        z-index: 1111;
      }
      .CarouselImage {
        width: 100%;
      }
    }
  }
  .details-2 {
    flex: 1;

    .detailsBlock-1 {
      p {
        font-size: 0.8rem;
        font-weight: 300;
        margin: 0 0 0.7rem 0;
        text-align: left;
      }
      h2 {
        font-size: 1.3rem;
        font-weight: 700;
        font-family: Montserrat;
        letter-spacing: 1.5px;
        text-transform: capitalize;
      }
    }
    .detailsBlock-2 {
      display: flex;
      margin: 0.5rem 0;
      align-items: center;
      gap: 20px;
      span {
        font-size: 0.9rem;
        font-weight: 300;
      }
    }
    .detailsBlock-3 {
      .description {
        text-align: justify;
        font-size: 1rem;
        letter-spacing: 1px;
        font-weight: 200;
      }
      .price {
        margin: 0.7rem 0;
        display: flex;
        align-items: center;
        gap: 20px;
        h3 {
          text-decoration: line-through;
          font-size: 1.3rem;
          font-weight: 400;
          font-family: Montserrat;
        }
        h2 {
          font-size: 2rem;
          font-weight: 700;
        }
      }
      .detailsBlock-3-1 {
        .detailsBlock-3-1-1 {
          display: flex;
          align-items: center;
          button {
            width: 40px;
            height: 40px;
            border-radius: 3px;
            border: 1px solid lightgray;
            font-weight: 600;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: transparent;
            cursor: pointer;
            .icon {
              font-weight: 300;
              color: gray;
              font-size: 0.9rem;
            }
          }
          input {
            height: 40px;
            max-width: 60px;
            padding-left: 12px;
            border: 1px solid lightgray;
            outline: none;
          }
        }
        .stock {
          font-size: 1rem;
          font-weight: 300;
          margin-top: 1rem;
          text-align: left;
          b {
            margin-left: 0.6rem;
            padding: 0.3rem 0.5rem;
            color: #29a56c;
            background-color: #29a56b3d;
            border-radius: 3px;
          }
        }
        .cartBtn {
          margin: 1rem 0;
          padding: 0.7rem 2rem;
          border: none;
          background-color: #29a56c;
          color: #fff;
          transition: all 0.5s;
          text-transform: uppercase;
          cursor: pointer;
          &:hover {
            background-color: #0d7a48;
          }
        }
      }
    }
  }
}
.productDescription {
  margin: 2rem 0;
  .desHeading {
    font-size: 1.5rem;
    font-weight: 600;
    font-family: montserrat;
    margin: 0.5rem 0;
  }
  .fullDesc {
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 1px;
    text-align: justify;
    font-family: montserrat;
  }
}
.reviews {
  .reviewHeading {
    font-size: 1.5rem;
    font-weight: 600;
    font-family: montserrat;
    margin: 0.5rem 0;
  }
  .noReviews {
    font-weight: 300;
    font-size: 0.9rem;
    margin-bottom: 1rem;
  }
  .submitReview {
    margin: 1rem 0;
    padding: 0.7rem 2rem;
    border: none;
    background-color: #29a56c;
    color: #fff;
    transition: all 0.5s;
    text-transform: uppercase;
    cursor: pointer;
    &:hover {
      background-color: #0d7a48;
    }
  }
}

.dialogTitle {
  font-size: 1.3rem;
  font-family: montserrat;
  text-transform: capitalize;
  font-weight: 700;
  margin: 1rem 1rem 0rem 1rem;
}
.submitDialogTextArea {
  width: 100%;
  padding: 0.5rem;
  font-size: 0.9rem;
  letter-spacing: 1.2px;
  font-family: Montserrat;
  font-weight: 300;
  outline: none;
  margin-top: 0.5rem;
}
.action {
  padding: 27px;
  display: flex;
  // align-items: flex-end;
  justify-content: end;
  .cancel,
  .submit {
    padding: 0.3rem 1rem;
    border: none;
    font-weight: 700;
    font-size: 0.9rem;
    margin-left: 1rem;
    text-transform: capitalize;
    cursor: pointer;
    transition: all 0.5s;
    &:active {
      background-color: rgb(206, 206, 206);
    }
  }

  .cancel {
    color: #29a56c;
    background-color: #29a56b2f;
  }
  .submit {
    color: red;
    background-color: rgba(255, 0, 0, 0.226);
  }
}
