.profileHeading {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0.5rem 0;
  text-align: left;
}
.profileContainer {
  display: flex;
  gap: 20px;
  .left {
    flex: 1;
    border: 1px solid lightgray;
    padding: 1rem;
    .avatar {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      margin: 1rem auto;
      overflow: hidden;
      object-fit: cover;
      img {
        width: 100%;
      }
    }
    .links {
      display: flex;
      flex-direction: column;
      gap: 10px;
      a,
      button {
        padding: 0.5rem;
        width: 100%;
        color: #000;
        transition: all 0.5s;
        font-size: 0.8rem;
        font-weight: 700;
        font-family: montserrat;
        border: none;
        background-color: transparent;
        text-align: left;
        &:hover {
          color: #29a56c;
          background-color: #29a56b3a;
        }
        &:active {
          color: #20f190;
          background-color: #29a56b98;
        }
      }
    }
  }
  .right {
    flex: 3;
    border: 1px solid lightgray;
    padding: 1rem;
    .items {
      display: flex;
      flex-direction: column;
      gap: 10px;
      .item {
        display: flex;
        gap: 10px;
        p {
          font-weight: 600;
          font-size: 0.9rem;
          font-family: montserrat;
          margin: 0;
        }
        span {
          margin: 0;
          font-weight: 300;
          font-size: 0.9rem;
          font-family: montserrat;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .profileContainer {
    flex-direction: column;
  }
}
