.register {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.registerContainer {
  max-width: 22rem;
  width: 20rem;
  min-height: 28rem;
  display: flex;
  flex-direction: column;
}
.registerContainer h2 {
  font: 700 2rem montserrat;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 2px solid var(--pink);
}
.registerContainer form {
  margin-top: 2rem;
}
.registerContainer form label {
  font: 500 0.9rem Montserrat;
}
.registerContainer div {
  position: relative;
  border: 2px solid var(--lightgray);
  padding: 10px;
  border-radius: 3px;
  margin: 10px 0;
}
.registerContainer div svg {
  position: absolute;
}
.registerContainer div svg {
  width: 30px !important;
  height: 30px !important;
  color: var(--gray);
}

.registerContainer div input {
  width: 100%;
  border: none;
  outline: none;
  padding-left: 2rem;
  background: white;
  color: -internal-light-white(rgb(255, 255, 255), white) !important;
  font: 400 0.8rem cursive;
  height: 30px;
}
#registerImage img {
  top: 5px;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  position: absolute;
}
#registerImage input::file-selector-button {
  cursor: pointer;
  width: 100%;
  z-index: 2;
  border: none;
  margin: 0;
  color: var(--gray);
  background-color: white;
  font: 600 0.9rem cursive;
}
.registerButton {
  width: 100%;
  margin-top: 0.8rem;
  padding: 13px;
  color: white;
  background-color: var(--pink);
  border-radius: 3px;
  text-align: center;
  border: none;
  font: 600 0.9rem Montserrat;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.registerButton span {
  width: 20px !important;
  margin-left: 10px;
  height: 20px !important;
}
