* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.greenColor {
  color: green;
}
.redColor {
  color: red;
}

:root {
  --black: #000;
  --lightBlack: #333333;
  --deepBlack: #292b2c;
  --lightgray: #dddddd;
  --gray: #687188;
  --pink: #ff324d;
  --deepPink:#c71830;
  --montserrat: font-family: 'Montserrat', sans-serif;
}

.main_Container{
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

}

@media (min-width:1450px){
  .main_Container {
    max-width: 1400px;
  }
}
@media (min-width:1200px){
  .main_Container {
    max-width: 1170px;
  }
}
@media (min-width:992px){
  .main_Container {
    max-width: 960px;
  }
}
@media (min-width:768px){
  .main_Container {
    max-width: 738px;
  }
}
@media (min-width:320px){
  .main_Container {
    max-width: 100%;
  }
}
  