.emptyCart {
  display: flex;
  text-align: center;
  min-height: 60vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.emptyCart svg {
  font-size: 100px;
  color: var(--pink);
}
.emptyCart p {
  font-size: 20px;
  font-family: Poppins;
  margin: 20px 0;
}
.emptyCart a {
  background-color: var(--deepBlack);
  color: white;
  border: none;
  padding: 15px 30px;
  font: 400 18px Poppins;
  text-decoration: none;
}

.cartPage {
  padding: 50px;
}
.cartHeader {
  background-color: var(--pink);
  width: 90%;
  margin: auto;
  padding: 5px 0;
  display: grid;
  grid-template-columns: 4fr 1fr 1fr;
  font: 400 20px Poppins;
  color: white;
}
.cartHeader > p {
  margin: 10px;
}
.cartHeader > p:last-child {
  text-align: end;
}
.cartContainer {
  width: 90%;
  margin: auto;
  padding: 20px 0;
  display: grid;
  grid-template-columns: 4fr 1fr 1fr;
}
.cartInput {
  display: flex;
  align-items: center;
}
.cartInput button {
  border: none;
  background-color: var(--pink);
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font: 500 20px Poppins;
  cursor: pointer;
  color: white;
  transition: all 0.5s;
}
.cartInput button:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
.cartInput input {
  border: none;
  padding: 0.5vmax;
  width: 2.5vmax;
  font: 500 20px Poppins;
  text-align: center;
  outline: none;
  color: rgba(0, 0, 0, 0.74);
}
.cartGrossProfit {
  display: grid;
  grid-template-columns: 2fr 2fr;
  width: 90%;
  margin: auto;
}
.cartGrossProfitBox {
  border-top: 3px solid var(--gray);
  margin: 20px 0;
  padding: 10px 0;
  font: 500 20px Poppins;
  display: flex;
  justify-content: space-between;
}
.checkOutBtn {
  display: flex;
  justify-content: flex-end;
}
.checkOutBtn button {
  background-color: var(--pink);
  color: white;
  border: none;
  padding: 12px 50px;
  cursor: pointer;
  border-radius: 5px;
}

@media screen and (max-width: 600px) {
  .cartPage {
    padding: 10px;
    min-height: 80vh;
  }
  .cartHeader {
    width: 100%;
    grid-template-columns: 2fr 1fr 1fr;
    font: 400 15px Poppins;
  }
  .cartContainer {
    width: 100%;
    margin: auto;
    padding: 20px 0px 0px 0px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
  }
  .cartInput button {
    height: 30px;
    width: 30px;
    font: 00 15px Poppins;
  }
  .cartInput input {
    font: 400 15px Poppins;
    width: 30px;
  }
  .cartSubTotal {
    font-size: 18px;
    font-weight: 400;
  }
  .cartGrossProfit {
    grid-template-columns: 0fr 2fr;
    width: 100%;
  }
  .cartGrossProfitBox {
    border-top: 2px solid var(--pink);
    padding: 2px 0;
    margin: 20px 0;
    font: 500 17px Poppins;
  }
  .checkOutBtn button {
    width: 100%;
    font: 400 15px;
    margin-top: 15px;
  }
}
