.cartItemCard {
  display: flex;
  align-items: center;
  align-items: flex-start;
  position: relative;
}
.cartItemCard > img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.cartItemCard > div {
  display: flex;
  margin: 8px 15px;
  flex-direction: column;
}
.cartItemCard div a {
  font: 700 18px Poppins;
  color: rgba(24, 24, 24, 0.8);
  text-decoration: none;
}
.cartItemCard div span {
  font: 300 15px Poppins;
  color: rgba(24, 24, 24, 0.8);
}
.cartItemCard div p {
  color: var(--pink);
  font: 600 14px Poppins;
  cursor: pointer;
}
.cartSubTotal {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: var(--deepBlack);
}
