.cartItemCard {
  display: flex;
  align-items: center;
  align-items: flex-start;
  position: relative;
  img {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
  div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 1rem;
    height: 100px;
    a {
      font-size: 1rem;
      text-transform: capitalize;
      font-weight: 600;
      cursor: pointer;
      color: rgb(68, 68, 68);
      transition: all 0.5s;
      &:hover {
        color: #29a56c;
      }
    }
    span {
      font-weight: 200;
      font-size: 0.8rem;
      margin: 0;
    }
    p {
      margin: 0;
      font-weight: 700;
      font-size: 0.8rem;
      padding: 0.2rem 0.3rem;
      background-color: rgba(255, 0, 0, 0.287);
      color: red;
      cursor: pointer;
    }
  }
}
