.confirmOrderPage {
  min-height: 100vh;
  background-color: white;
  display: grid;
  grid-template-columns: 6fr 3fr;
}
.confirmOrderPage > div:last-child {
  border-left: 1px solid var(--lightBlack);
}
.confirmShippingArea {
  padding: 40px;
  padding-bottom: 0%;
}
.confirmShippingArea p {
  font: 400 24px Poppins;
}
.confirmShippingAreaBox,
.confirmCartItemsContainer {
  margin: 24px 40px;
}
.confirmShippingAreaBox > div {
  display: flex;
  margin: 15px 0;
}
.confirmShippingAreaBox > div > p {
  font: 500 18px Poppins;
  color: black;
}
.confirmShippingAreaBox > div > span {
  margin: 0 15px;
  font: 300 18px Poppins;
  color: var(--gray);
}
.confirmCartItems {
  padding: 30px 60px 60px 0;
  padding-top: 30px;
}
.confirmCartItemsContainer {
  max-height: 30vh;
  padding-right: 2rem;
  overflow-y: auto;
}
.confirmCartItemsContainer > div {
  display: flex;
  font: 400 15px Poppins;
  align-items: center;
  justify-content: space-between;
  margin: 30px 0;
}
.confirmCartItemsContainer > div > img {
  width: 5rem;
}
.confirmCartItemsContainer > div > a {
  color: var(--gary);
  margin: 0 1rem;
  width: 60%;
  text-decoration: none;
}
.confirmCartItemsContainer > div > span {
  font: 400 15px Poppins;
  color: var(--gray);
}
.orderSummery {
  padding: 4rem;
}
.orderSummery > p {
  text-align: center;
  font: 600 1rem Poppins;
  font-size: 1.65rem;
  color: var(--pink);
  border-bottom: 2px solid var(--pink);
  padding: 0.3rem 1rem;
  width: 100%;
  margin: auto;
}
.orderSummery > div > div {
  display: flex;
  margin: 1rem 0;
  justify-content: space-between;
  font: 400 1rem Poppins;
}
.orderSummery > div > div > span {
  color: var(--deepBlack);
}
.orderSummeryTotal {
  display: flex;
  justify-content: space-between;
  font: 400 1rem Poppins;
  padding: 1rem 0;
  border-top: 2px solid var(--deepBlack);
}

.orderSummeryTotal span {
  margin: 0 0.4rem;
}
.orderSummery > button {
  border: none;
  color: white;
  background-color: var(--pink);
  font: 300 15px Poppins;
  width: 100%;
  padding: 15px;
  transition: all 0.5s;
  outline: none;
  cursor: pointer;
  text-align: center;
  font-size: 1rem;
}
.orderSummery > button:hover {
  background-color: var(--deepPink);
}

@media screen and (max-width: 600px) {
  .confirmOrderPage {
    grid-template-columns: 1fr;
    height: unset;
  }
  .confirmOrderPage > div:last-child {
    border-left: 0;
    border-top: 1px solid var(--deepBlack);
  }
  .confirmShippingAreaBox,
  .confirmCartItemsContainer {
    margin: 0;
  }
  .confirmCartItems {
    padding: 0;
    padding-top: 30px;
  }
  .confirmCartItemsContainer {
    height: unset;
    padding-right: 0;
    overflow-y: auto;
  }
  .orderSummery {
    padding: 0.2rem 2rem;
  }
  .orderSummery > button {
    font-size: 0.8rem;
  }
}
