.featuredHeading {
  font-size: 1.4rem;
  font-weight: 700;
  margin-top: 3rem;
  text-align: center;
  line-height: 1.8;
  text-transform: capitalize;
}
p {
  font-size: 1rem;
  font-weight: 300;
  text-align: center;
  margin: 0 0 1rem 0;
}

.home {
  .caroHeader {
    position: relative;
    overflow: hidden;

    .content {
      position: absolute;
      top: 15%;
      h2 {
        font-size: 3.5rem;
        line-height: 1.1;
      }
      h4 {
        font-size: 1.4rem;
        margin: 2rem 0;
        color: rgba(12, 11, 27, 0.329);
      }
      .subscribe {
        margin: 3rem 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #fff;
        max-width: 450px;
        border-radius: 2rem;
        padding: 0 0 0 1rem;
        div {
          position: relative;

          .icon {
            font-size: 1.5rem;
            color: gray;
            left: 0.2rem;
            position: absolute;
          }
          input {
            padding-left: 0.5rem;
            border: none;
            margin-left: 2rem;
            outline: none;
            background-color: transparent;
            font-size: 0.9rem;
          }
        }
        button {
          border: none;
          width: 150px;
          border-radius: 50px;
          padding: 1rem;
          height: 100%;
          color: #fff;
          background-color: #29a56c;
          cursor: pointer;
          transition: all 0.5s;
          &:hover {
            background-color: #0d7a48;
          }
        }
      }
      .description {
        font-weight: 300;
        font-size: 0.9rem;
        color: rgb(137, 136, 136);
        text-align: left;
        max-width: 50%;
      }
    }
    img {
      min-width: 100%;
      width: auto;
      object-fit: cover;
    }
  }
  .featuredHeading {
    font-size: 1.4rem;
    font-weight: 700;
    margin-top: 3rem;
    text-align: center;
    line-height: 1.8;
    text-transform: capitalize;
  }
  p {
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
    margin: 0 0 1rem 0;
  }
  .products {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
    justify-content: space-between;
  }
  .newCollection {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    .left,
    .right {
      flex: 1;
      min-height: 17rem;
      border-radius: 3px;
      display: flex;
      align-items: center;
      padding: 1.5rem;
      background-color: rgb(248, 248, 248);
      h4 {
        font-size: 1.3rem;
        letter-spacing: 2px;
        font-weight: 400;
      }
      h5,
      h6 {
        font-weight: 700;
        text-transform: uppercase;
        font-size: 1.4rem;
        font-family: Montserrat;
        line-height: 1;
        margin: 0.6rem 0;
        color: rgb(92, 91, 91);
      }
      p {
        text-align: left;
        letter-spacing: 2px;
      }
      button {
        color: #fff;
        background-color: #0d7a47;
        padding: 0.5rem 1rem;
        font-size: 0.9rem;
        font-weight: 300;
        border: none;
        cursor: pointer;
      }
    }
  }
}
// Responsive area
@media only screen and (max-width: 600px) {
  .home {
    // Carousel
    .makeStyles-itemWrapper-18 {
      height: 500px !important;
      .caroHeader {
        .content {
          top: 8%;
          h2 {
            font-size: 2.2rem;
          }
          h4 {
            font-size: 0.9rem;
            margin: 1rem 0;
          }
          .subscribe {
            max-width: 400px;
            border-radius: 2rem;
            padding: 0 0 0 0.4rem;

            div {
              display: flex;
              align-items: center;
              .icon {
                font-size: 1.2rem;
              }
              input {
                padding-left: 0.3rem;
                margin-left: 1.5rem;
                font-size: 0.8rem;
              }
            }
            button {
              width: 120px;
              border-radius: 50px;
              padding: 0.5rem;
              font-size: 0.8rem;
            }
          }
          .description {
            font-size: 0.8rem;
            max-width: 100%;
          }
        }
      }
    }
    .products {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
    }
    .newCollection {
      flex-direction: column;
      .left,
      .right {
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
}
