.widget {
  display: flex;
  justify-content: space-between;
  flex: 1;
  padding: 1rem;
  border-radius: 0.2rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  min-height: 10rem;
  .left,
  .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .title {
      font-weight: 700;
      font-size: 0.8rem;
      color: gray;
    }
    .counter {
      font-size: 1.3rem;
      font-weight: 200;
    }
    .link {
      width: max-content;
      font-size: 0.7rem;
      border-bottom: 1px solid gray;
      cursor: pointer;
    }
    .percentage {
      display: flex;
      align-items: center;
      font-size: 0.8rem;
      &.positive {
        color: green;
      }
      &.negative {
        color: red;
      }
    }
    .icon {
      font-size: 1.8rem;
      padding: 0.3rem;
      color: purple;
      background-color: rgba(128, 0, 128, 0.068);
      align-self: flex-end;
      border-radius: 0.3rem;
    }
  }
}
